.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

main {
  max-width: 80%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:wght@100;300;400;500;700&display=swap");
